# To do....
#	- Find and replace wlp4s0, enp2s0 and tun0 with appropriate interfaces.
#

update_interval 2.5

double_buffer yes
text_buffer_size 1024
override_utf8_locale yes
use_xft yes
xftalpha 0.4
uppercase yes

# Positioning Window
gap_x 0
gap_y 0
minimum_size 300 700 
maximum_width 300
alignment top_right

# Window Settings
background yes														# Will conky be forked to background when started? 
own_window yes                      								# Create own window to draw
own_window_type normal												# Normal, desktop, dock, panel or override (default: normal).
own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager	# Window manager hints to affect the way Conky displays

# Background Color								
own_window_colour 000000											# Set background color
own_window_argb_visual yes											# ARGB can be used for real transparency. Requires compositor.
own_window_argb_value 50											# Modify Alpha 0 is 0% opacity, and 255 is 100% opacity

# Draw Settings
draw_shades no
draw_outline no
draw_borders no
draw_graph_borders no

# Defining colors
default_color FFFFFF
color1 DDDDDD	# Gray Share #1
color2 AAAAAA	# Gray Share #2
color3 888888	# Gray Share #3
color4 EF5A29	# Orange
color5 77B753	# Green

#Get Assumed Active Network Adapters
wireless_adapter wlp4s0

TEXT
${voffset 20}
${font Ubuntu:size=10,weight:bold}${color4}SYSTEM ${hr 2}
${offset 15}${font Ubuntu:size=10,weight:normal}${color1}$sysname $kernel
${offset 15}${font Ubuntu:size=10,weight:normal}${color1}$nodename Uptime: $uptime

# Showing CPU Graph
${voffset -40}
${offset 200}${cpugraph 30,100 666666 666666}${voffset -25}
${offset 50}${font Ubuntu:size=10,weight:bold}${color5}CPU | ${cpu cpu0}%
# Showing cpu
${offset 50}${font Ubuntu:size=10,weight:normal}${color4}${top name 1}${alignr}${top cpu 1}%
${offset 50}${font Ubuntu:size=10,weight:normal}${color1}${top name 2}${alignr}${top cpu 2}%
${offset 50}${font Ubuntu:size=10,weight:normal}${color2}${top name 3}${alignr}${top cpu 3}%
${offset 50}${font Ubuntu:size=10,weight:normal}${color3}${top name 4}${alignr}${top cpu 4}%
${offset 50}${font Ubuntu:size=10,weight:normal}${color3}${top name 5}${alignr}${top cpu 5}%

#Showing memory
${voffset 0}
${offset 50}${font Ubuntu:size=10,weight:bold}${color5}MEM | ${mem}
${offset 50}${font Ubuntu:size=10,weight:normal}${color4}${top_mem name 1}${alignr}${top_mem mem 1}%
${offset 50}${font Ubuntu:size=10,weight:normal}${color1}${top_mem name 2}${alignr}${top_mem mem 2}%
${offset 50}${font Ubuntu:size=10,weight:normal}${color2}${top_mem name 3}${alignr}${top_mem mem 3}%
${offset 50}${font Ubuntu:size=10,weight:normal}${color3}${top_mem name 4}${alignr}${top_mem mem 4}%
${offset 50}${font Ubuntu:size=10,weight:normal}${color3}${top_mem name 5}${alignr}${top_mem mem 5}%

# Showing disk partitions: root, home and Data
${offset 200}${diskiograph 30,100 666666 666666}${voffset -25}
${offset 50}${font Ubuntu:size=10,weight:bold}${color5}DISKS
${offset 50}${font Ubuntu:size=9,weight:bold}${color1}Free: ${font Ubuntu:size=9,weight:normal}${fs_used /}/${fs_free /}

# Network data
${if_existing /sys/class/net/wlp4s0/operstate up} 
# Network Sourced from https://www.kubuntuforums.net/showthread.php/64651-Network-in-Conky by  life0riley
${color FFFFFF}${font sans-serif:bold:size=8}NETWORK wlp4s0${color 8888FF}${hr 2}
${color gray}${font sans-serif:normal:size=8}IP address: ${color 90DDC0}$alignr ${addr wlp4s0}
${color gray}Download:${color 90DDC0}${downspeedf wlp4s0} kB/s${alignr}${color gray}Upload:${color 90DDC0}${upspeedf wlp4s0} kB/s
${color gray}${downspeedgraph wlp4s0 26,100 000000 009933 -t} ${offset 10}${color gray}${upspeedgraph wlp4s0 26,100 000000 0000FF -t}
${color gray}Total Down:${color 90DDC0}${totaldown wlp4s0} ${alignr}${color gray}Total Up:${color 90DDC0}${totalup wlp4s0}
${color 90DDC0}Inbound: ${color gray}${tcp_portmon 1 32767 count}${alignc -36}${color 90DDC0}Outbound: ${color gray}${tcp_portmon 32768 61000 count}${alignr}${color 90DDC0}Total: ${color gray}${tcp_portmon 1 65535 count}
${color 90DDC0}Inbound Connection ${alignr} Local Service/Port${color gray}
${tcp_portmon 1 32767 rhost 0} ${alignr} ${tcp_portmon 1 32767 lservice 0}
${tcp_portmon 1 32767 rhost 1} ${alignr} ${tcp_portmon 1 32767 lservice 1}
${tcp_portmon 1 32767 rhost 2} ${alignr} ${tcp_portmon 1 32767 lservice 2}
${color 90DDC0}Outbound Connection ${alignr} Remote Service/Port${color gray}
${tcp_portmon 32768 61000 rhost 0} ${alignr} ${tcp_portmon 32768 61000 rservice 0}
${tcp_portmon 32768 61000 rhost 1} ${alignr} ${tcp_portmon 32768 61000 rservice 1}
${tcp_portmon 32768 61000 rhost 2} ${alignr} ${tcp_portmon 32768 61000 rservice 2}
# END SOURCED FROM
${endif}
${if_existing /sys/class/net/enp2s0/operstate up} 
# Network Sourced from https://www.kubuntuforums.net/showthread.php/64651-Network-in-Conky by  life0riley
${color FFFFFF}${font sans-serif:bold:size=8}NETWORK enp2s0${color 8888FF}${hr 2}
${color gray}${font sans-serif:normal:size=8}IP address: ${color 90DDC0}$alignr ${addr enp2s0}
${color gray}Download:${color 90DDC0}${downspeedf enp2s0} kB/s${alignr}${color gray}Upload:${color 90DDC0}${upspeedf enp2s0} kB/s
${color gray}${downspeedgraph enp2s0 26,100 000000 009933 -t} ${offset 10}${color gray}${upspeedgraph enp2s0 26,100 000000 0000FF -t}
${color gray}Total Down:${color 90DDC0}${totaldown enp2s0} ${alignr}${color gray}Total Up:${color 90DDC0}${totalup enp2s0}
${color 90DDC0}Inbound: ${color gray}${tcp_portmon 1 32767 count}${alignc -36}${color 90DDC0}Outbound: ${color gray}${tcp_portmon 32768 61000 count}${alignr}${color 90DDC0}Total: ${color gray}${tcp_portmon 1 65535 count}
${color 90DDC0}Inbound Connection ${alignr} Local Service/Port${color gray}
${tcp_portmon 1 32767 rhost 0} ${alignr} ${tcp_portmon 1 32767 lservice 0}
${tcp_portmon 1 32767 rhost 1} ${alignr} ${tcp_portmon 1 32767 lservice 1}
${tcp_portmon 1 32767 rhost 2} ${alignr} ${tcp_portmon 1 32767 lservice 2}
${color 90DDC0}Outbound Connection ${alignr} Remote Service/Port${color gray}
${tcp_portmon 32768 61000 rhost 0} ${alignr} ${tcp_portmon 32768 61000 rservice 0}
${tcp_portmon 32768 61000 rhost 1} ${alignr} ${tcp_portmon 32768 61000 rservice 1}
${tcp_portmon 32768 61000 rhost 2} ${alignr} ${tcp_portmon 32768 61000 rservice 2}
# END SOURCED FROM
${endif}
${if_existing /sys/class/net/tun0/operstate up} 
# Network Sourced from https://www.kubuntuforums.net/showthread.php/64651-Network-in-Conky by  life0riley
${color FFFFFF}${font sans-serif:bold:size=8}NETWORK tun0${color 8888FF}${hr 2}
${color gray}${font sans-serif:normal:size=8}IP address: ${color 90DDC0}$alignr ${addr tun0}
${color gray}Download:${color 90DDC0}${downspeedf tun0} kB/s${alignr}${color gray}Upload:${color 90DDC0}${upspeedf tun0} kB/s
${color gray}${downspeedgraph tun0 26,100 000000 009933 -t} ${offset 10}${color gray}${upspeedgraph tun0 26,100 000000 0000FF -t}
${color gray}Total Down:${color 90DDC0}${totaldown tun0} ${alignr}${color gray}Total Up:${color 90DDC0}${totalup tun0}
${color 90DDC0}Inbound: ${color gray}${tcp_portmon 1 32767 count}${alignc -36}${color 90DDC0}Outbound: ${color gray}${tcp_portmon 32768 61000 count}${alignr}${color 90DDC0}Total: ${color gray}${tcp_portmon 1 65535 count}
${color 90DDC0}Inbound Connection ${alignr} Local Service/Port${color gray}
${tcp_portmon 1 32767 rhost 0} ${alignr} ${tcp_portmon 1 32767 lservice 0}
${tcp_portmon 1 32767 rhost 1} ${alignr} ${tcp_portmon 1 32767 lservice 1}
${tcp_portmon 1 32767 rhost 2} ${alignr} ${tcp_portmon 1 32767 lservice 2}
${color 90DDC0}Outbound Connection ${alignr} Remote Service/Port${color gray}
${tcp_portmon 32768 61000 rhost 0} ${alignr} ${tcp_portmon 32768 61000 rservice 0}
${tcp_portmon 32768 61000 rhost 1} ${alignr} ${tcp_portmon 32768 61000 rservice 1}
${tcp_portmon 32768 61000 rhost 2} ${alignr} ${tcp_portmon 32768 61000 rservice 2}
# END SOURCED FROM
${endif}
${color4}${hr 2}

